<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<body>
   <div class="jumbotron text-center">
     <h1>Welcome to Task Manager</h1>
     <a href="/tasks" class="btn btn-lg btn-default">Tasks</a>
     <a href="/tasks/new" class="btn btn-lg btn-primary">New Task</a>
   </div>

   <div class="container">
     <div class="col-md-8">
       <h1>Manage all your tasks</h1>
       <p>Striker: "Surely you can't be serious." </p><p>Rumack: "I am serious...and don't call me Shirley."</p>
     </div>
   </div>
</body>
